@import 'styles/colors';
@import 'styles/fonts';

div.pageAbstract-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  background-color: $white;
  div.pageAbstractElement-wrapper {
    text-align: center;
    width: 150px;
    p {
      font-size: $smallFont;
      color: $lightgray;
    }
    h1 {
      font-size: $bigFont;
      color: $lightBlue;
    }
  }
}
