div.wrapper {
  height: 36px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  .header {
    height: 36px;
    line-height: 36px;
    padding-inline-start: 15px;
    .inputWrapper {
      height: 24px;
      width: 300px;
    }
  }
}
