section.page-section {
  position: fixed;
  padding: 30px;
  left: 285px;
  top: 90px;
  right: 0px;
  bottom: 0px;

  div.target-wrapepr {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
