@import 'styles/length.scss';

section.page-section {
  position: fixed;
  left: $selectorWidth;
  top: $headerHeight;
  right: 0px;
  bottom: 0px;
  padding: 30px;
  div.target-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
