@import 'styles/colors';

header.wrapper {
  display: flex;
  align-items: center;
  height: 48px;
  line-height: 48px;
  margin-bottom: 30px;
  svg {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    path {
      fill: $black;
    }
  }
  h1 {
    font-size: 40px;
    margin: 0;
  }
}
